body {
  background-color: white;
  margin: 0;
}

.second-one {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.third-one {
    
  display: flex;
  flex-direction: column;
  align-items:center;

}
}

.fouth-one {
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
}

.sixth-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}